[2022-02-16 14:11] mitsudome-r opened #1 "F1Tenth Create a CAD Model of the vehicle and its Components"
## Description
We want to have a realistic CAD model of the F1TENTH vehicles that we can use in the SVL Simulator and for animations.

### Purpose

Usage in the SVL Simulator.

### Desired Behavior

We need a detailed CAD model of the F1TENTH vehicle which includes both the chassis and the additional components

### Definition of Done

- [ ] Create CAD model of the Traxxas Chassis
- [ ] Create a C

[2022-02-16 14:11] mitsudome-r opened #2 "F1TENTH - Create low Cost platform/entry platform"
## Description
Create the F1TENTH low-cost version which is smaller, lightweight, has only a camera as a main sensor and serves as an entry platform in the F1TENTH competition.

### Purpose

Enables more people using F1TENTH. Enbales Vision-based navigation only.

### Desired Behavior

### Definition of Done

- [ ] Create List of hardware for the Low-Cost Platform
- [ ] Build Low Level Division pl

[2022-02-16 14:12] mitsudome-r opened #3 "Launching Autoware.Auto on F1TENTH"
## Description
Official launch of Autoware.Auto on F1TENTH platform

### Purpose

Launch

### Desired Behavior

N/A

### Definition of Done

- [ ] ROS Discourse announcement
- [ ] Publicity (marketing team)

[2022-02-16 14:12] mitsudome-r opened #4 "Community support for F1TENTH"
## Description
This Issue tracks community support provided for using Autoware.Auto with F1TENTH

### Purpose

To support the community

### Desired Behavior

Support community for F1TENTH/Autoware

### Definition of Done

- [ ] Run a joint ROS2/Autoware workshop using the platform
- [ ] Appoint student moderators for the forum
- [ ] Create ROS Answers tag
- [ ] Appoint student moderators for ROS

[2022-02-16 14:12] mitsudome-r opened #5 "Mini racing track with Autoware.Auto"
## Description
To test Autoware.Auto on a real mini racing track

### Purpose

Run Autoware.Auto on a vehicle on the racing track

### Desired Behavior

Run vehicle in real-world environment

### Definition of Done

- [ ] Create real-world mini racing track
- [ ] Run vehicle with Autoware.Auto on this track

[2022-02-16 14:12] mitsudome-r opened #6 "Modify Autoware.Auto algorithms for racing"

[2022-02-16 14:12] mitsudome-r opened #7 "Update xsens_nodes to use the latest version of transport_drivers"
## Description

The `transport_drivers` have been updated and need to be included in the `xsens_nodes` package. This has already been done for the `velodyne_nodes` package in !1170. Changes related to the changes required for the F1TENTH community realease.

### Definition of Done

- [ ] `xsens_nodes` updated to use the new `transport_driver`
- [ ] Tested with hardware

[2022-02-23 13:59] mitsudome-r opened #8 "Open AD Kit CI/CD pipeline - Github"
## Description
Github based CI/CD that is hosted on AWS. This is a followup of: https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/issues/1353 proposed for after the initial 1.0.0 release.

### Purpose

Cloud based continuous integration and deployment (see the discussion topics proposed by Kasper and Tanzawa from ASWG Meeting https://gitlab.com/autowarefoundation/autoware-foundati

[2022-02-23 14:02] mitsudome-r opened #9 "Add Regression testing in scenario_simulator_v2"
## Description
To add regression testing to scenario_simulator_v2

### Purpose
To enable simulation based regression testing of Autoware Auto

### Desired Behavior
Scenario_simulator_v2 to test entire scenario, verify if it finishes with success or failure

### Definition of Done
- [ ] Possibility to run tests of entire AutowareAuto code with scenaior_simulator_v2

[2022-02-23 14:04] mitsudome-r opened #10 "Integration of LGSVL with Scenario_simulator_v2"
## Description
(copied issue from https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/issues/1444)
Integration of LGSVL with currently used scenario runner (Scenario_simulator_v2 by TierIV)

### Purpose
It's required to run regression tests in LGSVL based on scenarios controlled by scenario_simulator_v2

### Desired Behavior
Working integration, LGSVL controled by scenario_simulator

[2022-02-23 14:04] mitsudome-r opened #11 "Metric calculation node development"
## Description
(Copied issue from https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/issues/1446)
To implement and upload to AutowreAuto repository sample ROS2 node for metric calculation. As a sample, the calculation of deviation from planned path should be calculated.

### Purpose
To validate specific functionalities of AutowareAuto

### Desired Behavior
Metric calculation node s

[2022-03-16 15:22] BonoloAWF commented on #10
No longer valid since the simulator is being replaced.

[2022-03-16 15:22] #10 closed

[2022-03-17 01:54] LalithVipulananthan opened #12 "Assess ITRI's hardware spec for Open AD Kit suitability"
As discussed in the Open AD Kit meeting on 2022/03/10, a review was requested of [ITRI's hardware](https://github.com/autowarefoundation/autoware/files/8210975/ITRI.Autonomous.Bus.Pilot.Run.in.Hsinchu.Update_20220308.pdf) to confirm if it would be suitable to run the Open AD Kit. Initial review is expected by March 18th.

[2022-03-18 20:47] kasperornmeck commented on #12
@LalithVipulananthan

The review has been completed and the conclusion is the following:
- the hardware suggested on page 12 from ITRI's hardware PDF is OK to use for Open AD Kit
- the software developed for the Bus ODD needs to build/pass tests/etc successfully in the CI/CD on Arm

Let me know if you have any further questions or comments. Thanks!

[2022-03-29 19:01] WJaworskiRobotec opened #13 "Simulator selection - define benchmarking setup"

[2022-03-29 19:02] WJaworskiRobotec opened #14 "Simulator selection - prepare demo of TierIV SIM"

[2022-03-29 19:03] WJaworskiRobotec opened #15 "Simulator selection - prepare demo of MORAI SIM : DRIVE"

[2022-03-29 19:03] WJaworskiRobotec opened #16 "Simulator selection - prepare final presentation for TSC"

[2022-03-29 19:03] WJaworskiRobotec opened #17 "Simulator selection - prepare demo of CARLA"

[2022-04-06 11:32] sglee-morai commented on #13
Here are two candidates for the path. If you find the first path is rather difficult to drive manually (since we don't need to drive automatically for the benchmark), the second one would be an easier choice.

## The 1st Path
See the red line
![sim_path_01-1_path](https://user-images.githubusercontent.com/44545624/161964852-2c155110-c407-4d17-b7ac-8d3d2c38645d.png)
Starting Point
![sim_path_01-2_s

[2022-04-07 08:30] WJaworskiRobotec commented on #13
Thank you very much @sglee-morai . Let's test Path 1 it's not really difficult for manual driving

[2022-04-11 11:53] WJaworskiRobotec commented on #14
Video and rosbag of TierIV simulator can be found here :
https://drive.google.com/drive/folders/1dyYo9IjoT41-6BGoMLuHb3NAOw8d8U5c

[2022-04-13 14:05] sglee-morai opened #21 "Define Test Procedures to check Simulator's Compatibility with Autoware"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

To define test procedures (e.g. test codes) to check whether a certain simulator is compatible with Autoware

N

[2022-04-19 10:58] WJaworskiRobotec commented on #15
MORAI shared simulation application together with scene and sensor configuration according to the benchmarking setup description.

Rosbag, Video and screenshot from MORAI SIM: DRIVE can be found here : https://drive.google.com/drive/folders/1Br2HHDNWxnTwpAh20mH8mOY4sk64TcsO

MORAI_hz.png screenshot shows frequency of sensors (top - lidar, bottom - camera) published by the simulator (desired freque

[2022-04-19 11:33] WJaworskiRobotec commented on #17
As no AWF Partner prepared the Airport scene for CARLA, i tested it with default urban environment and default vehicle. I only modified sensors configuration - removed not needed sensors, changed parameters of sensors to be like in MORAI and TierIV and changed sensor_tick of LIDAR and camera to achieve desired frequency of 10Hz.

Test was performed using the [instruction for carla-ros-bridge](http

[2022-04-20 11:09] WJaworskiRobotec commented on #11
Similar feature related to trajectory evaluation : https://github.com/autowarefoundation/autoware.universe/pull/288

[2022-04-20 21:50] HaoruXue opened #22 "Improve general performance of Autoware.Auto on Jetson"
## Update 4/18/22

With NVIDIA's release of Jetpack SDK 5.0 and Ubuntu 20.04, building Autoware outside of ADE is now possible.

## Action Items

- [x] Build Autoware outside ADE with Jetpack 5.0
- [ ] Compare remote desktop vs. X11 forwarding for RVIZ
- [ ] Reduce localization frequency

[2022-04-26 22:52] kaspermeck-arm opened #26 "Investigate how ADE is used"
### Description

Investigate how ADE is used today for Autoware developers and users.

### Purpose

ADE (https://ade-cli.readthedocs.io/en/latest/index.html) will be replaced with Docker Compose (https://docs.docker.com/compose/) and in order to successfully do so, the usage of ADE needs to be outlined to prevent the possibility of disruption.

### Possible approaches

Find all mentions of ADE, in

[2022-04-26 23:03] kaspermeck-arm commented on #26
This issue was created in the wrong place.

[2022-04-26 23:04] kaspermeck-arm opened #24 "Investigate how ADE is used"
### Description

Investigate how ADE is used today for Autoware developers and users.

### Purpose

ADE (https://ade-cli.readthedocs.io/en/latest/index.html) will be replaced with Docker Compose (https://docs.docker.com/compose/) and in order to successfully do so, the usage of ADE needs to be outlined to prevent the possibility of disruption.

### Possible approaches

Find all mentions of ADE, in

[2022-04-27 19:04] domrobotec commented on #11
Currently working on this issue.
I am reusing parts of the planning_evaluator and motion_evaluator and expanding it to calculate various metrics, like:
* average velocity
* calculation of localization errors: lateral, absolute deviations from the trajectory
* heading angle error
* distance to closest obstacle

The final goals are:
* to have a generic metric calculator that more specific metric cal

[2022-04-28 05:06] kaspermeck-arm commented on #24
Duplicate, see autowarefoundation/autoware-projects#26 instead.

[2022-04-28 05:06] #24 closed, assigned to nobody

[2022-04-28 05:49] kaspermeck-arm opened #34 "Document Autoware Universe ROS nodes for the Perception stack"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

List all ROS nodes in Autoware.Universe with the following information
- feature
- ROS messages/topics
- softwa

[2022-05-02 08:26] ghost opened #25 "Data recording minimum requirements"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

List the minimum set of ROS topics that should be recorded in order to enable reproduction of errors that occur

[2022-05-10 08:58] kenji-miyake commented on #34
FYI, here is the node configuration diagram of TIER IV's proposal created by @TakaHoribe.
https://tier4.github.io/autoware-documentation/latest/design/node-diagram/#autoware-universe

Since it's just a proposal from TIER IV yet, we currently put it in our fork.

[2022-05-10 14:33] sglee-morai opened #27 "Creating documentations for Autoware-compatible Simulators"
### Description

To add information about simulators that support Autoware

Where to put the information?
Tools for users, Tools for Developers, or elsewhere?
- https://autowarefoundation.github.io/autoware-documentation/main/installation/tools-for-users/
- https://autowarefoundation.github.io/autoware-documentation/main/installation/tools-for-developers/

(Draft) The document should include:
- a

[2022-05-10 14:39] sglee-morai commented on #27
### Description

To add information about simulators that support Autoware

(Draft) The document should include:
- a brief specifications
- installation guide
- quick start guide
- link for the full documentation

### Which Simulator?

1. TierIV Simulator (Default Simualtor)
2. MORAI SIM: Drive
3. CALRA* (Still needs a lot of development to make it fully compatible with Autoware)
4. LGSVL Simulato

[2022-05-10 14:42] sglee-morai opened #28 "Creating a Bus Model (ITRI Bus)"

[2022-05-10 14:42] sglee-morai opened #29 "Creating a Simulation Environment (ITRI Campus)"
### Description

Creating Simulation Environment of ITRI Campus

Available data for baseline (provided by ITRI)
- Lanelet2 map
- PCD

### Expected Output

The map will be implemented in two different types:
(map type 1) The environments around the road are typical 3d models (buildings, terrains, ...)
(map type 2)- The environments around the road are 3d model converted from the point cloud map

Fo

[2022-05-10 14:46] sglee-morai commented on #29
### Description

Creating Simulation Environment of ITRI Campus

Available data for baseline (provided by ITRI)
- Lanelet2 map
- PCD

### Expected Output

Two different outputs are expected
- Intermediate output = 3D Model (.fbx, .obj, ... )
- Final output = Map in each E2E simulator

1) Intermediate Output

2) Final Output

[2022-05-10 15:07] sglee-morai commented on #21
### Proceed in two steps:
1) **creating (mostly) manual procedures**
2) automate the procedures

### Coverage of the test
1) [Initial] cover the **interface between the simulator and Autoware**
2) [Future] test would cover other requirements defined in the documentation (related discussion [link](https://github.com/orgs/autowarefoundation/discussions/234))

[2022-05-10 17:24] sglee-morai commented on #21
## Test Procedures to test interfaces between a simulator and Autoware

### Requirement overview
link for the interface requirement: [link](https://github.com/orgs/autowarefoundation/discussions/234#discussioncomment-2638205)

### Related Repository
(WIP)

### Detailed Test Procedure
(WIP)

[2022-05-10 19:41] kenji-miyake commented on #26
I believe we don't use ADE anymore for Autoware Core/Universe.

[2022-05-11 07:43] ghost opened #30 "Collect feedback from MIH and Foxconn about their expectations for Open AD Kit"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Collect feedback from Autoware community members about their expectations for Open AD Kit 2.0

### Purpose

One

[2022-05-11 07:52] ghost commented on #26
@kasperornmeck I think this issue is now in the right place, but could I just confirm if it is still required or not (bearing in mind Miyake-san's comment above)?

[2022-05-11 09:06] WJaworskiRobotec opened #31 "Define the requirements for Autoware-compatible simulators"
## Description
Creation of the requirements for simulators to support Cargo-ODD
Discussion about the requirements : [link](https://github.com/autowarefoundation/autoware/discussions/2563)

### Purpose
To create a document with requirements for the simulators. Any simulator after implementing all the requirements can be considered as Autoware-compatible

### Definition of Done
- [ ] Created Wiki pa

[2022-05-11 11:30] kaspermeck-arm commented on #26
@kenji-miyake @LalithVipulananthan
If ADE isn't used in universe or core, then this task is complete and no further work wrt to ADE needs to be done. Let's confirm in the Open AD Kit meeting today.

[2022-05-11 12:07] sglee-morai commented on #21
# Discussion / Questions
### where to put the test codes
- autoware.universe/

### location of the msg definition
confused
- [gitlab autoware_auto_msgs repo](https://gitlab.com/autowarefoundation/autoware.auto/autoware_auto_msgs)
- [github autoware_msgs repo](https://github.com/autowarefoundation/autoware_msgs)

gitlab
- autoware_auto_vehicle_msgs/TurnIndicatorsCommand
- autoware_auto_vehicle_msgs

[2022-05-12 05:28] ghost opened #32 "Verify that Autoware Universe can be run with Open AD Kit 1.0"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Verify that Autoware Universe can be run with Open AD Kit 1.0 on the same platforms (ADLINK AVA and Autocore PC

[2022-05-12 06:11] mitsudome-r commented on #26
We are not using ade in Autoware Core/Unvierse. However, we have a [docker image](https://autowarefoundation.github.io/autoware-documentation/main/installation/autoware/docker-installation/) instead which some of the developers are currently using. I remember from the the discussion we had in one of the calls was that we will be leaving this monolithic docker image for development use, and we will

[2022-05-18 00:47] #12 closed

[2022-05-18 13:23] sglee-morai commented on #21
# Test Procedure Draft (WIP)

### 1) ControlModeCommand & ControlModeReport
- Send `ControlModeCommand ` with the `command` values defined in `ControlModeCommand_Constants`
- Receive `ControlModeReport`
- Check whether the received value is the same as the value sent as the command

### 2) GearCommand & Report
Case 1-4)
- Send `GearCommand`: [P, N, R, D]
- Received `GearReport`: [P, N, R, D]
- Che

[2022-05-19 02:17] ghost opened #33 "Address concerns about the use of eSync as an OTA solution for non-AWF members"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Confirm if eSync has an open-source or free tier available that will allow non-AWF members to use their OTA sol

[2022-05-19 06:32] Sharrrrk commented on #32
@LalithVipulananthan I could also verify on Jetson AGX Xavier if required.

[2022-05-24 14:40] samet-kutuk commented on #33
_Confirm the situation around eSync's license for non-AWF members - is there any open source or free tier solution?_
Done.
Since the Autoware project usage is not limited to only AWF members, non-AWF members will be made available to use eSync's OTA capability, once it's implemented in the Open AD Kit. This is a general rule of thumb but technicalities will be detailed once the implementation is c

[2022-05-24 14:43] samet-kutuk commented on #33
_Confirm how AWF members will get access to eSync's solution
Done.
eSync's SDK is currently running on major public cloud vendors (such as AWS, Microsoft Azure, Google Cloud). For AWF members to access the solution, a separate SDK (with the same capabilities) will be made available to use through AWF hosted cloud instances

[2022-05-24 15:46] #33 closed, assigned to samet-kutuk

[2022-05-24 19:23] domrobotec commented on #11
Recently added 2 separate evaluators (localization and kinematic), cleaned the code, and added basic unit tests.

I am currently trying to find the best way to find proper beginning and ending times between which metrics should be collected as it should happen only when a vehicle is driving.
Additionally, working on segmentation evaluator and extracting common parts of all evaluators to parent eva

[2022-05-24 19:50] WJaworskiRobotec commented on #28
Work in progress:

![bus-20220519-084825](https://user-images.githubusercontent.com/85557834/170120244-191091a3-f0a4-4b66-9c52-7400a57ba97d.jpg)
![image-20220523-080149](https://user-images.githubusercontent.com/85557834/170120250-1d142855-ee9d-484a-9990-c8d1f623f626.png)

[2022-05-25 04:53] sglee-morai commented on #29
# Update (22-05-25)

The initial version of _type2 map_ is already created **but it will be built again**, since ITRI provided point cloud data with higher density

Initial version (built with low resolution PCD)
![morai_itri_campus_pcd_initial (low denstiy data) (1)](https://user-images.githubusercontent.com/44545624/170183536-381c56af-9498-426f-9b37-31115f1821eb.png)
![morai_itri_campus_pcd_init

[2022-05-25 05:11] sglee-morai commented on #21
# Update 22-05-25
- The initial version of the test codes for No. 1, 2, 3 is written

Plan
- Create PR for what's written for now, and then work on the others.
  - Feedback from Tsutake-san would be very helpful, since I'm hoping that the code can be used for TierIV SIM as well

[2022-05-25 22:14] ghost commented on #26
Based on Mitsudome-san's comment above, it seems this work is no longer required so this issue can be closed.

[2022-05-25 22:14] #26 closed, assigned to nobody

[2022-05-26 01:05] ghost commented on #30
CJ provided a use case that was a joint proposal from the AWF and MIH/Foxconn (see slide 3 of the attached document).

[Open AD Kit 2.0 Proposal.pdf](https://github.com/autowarefoundation/autoware-projects/files/8775462/Open.AD.Kit.2.0.Proposal.pdf)

[2022-05-26 01:05] #30 closed, assigned to samet-kutuk

[2022-05-26 10:54] PiotrRzRobotec commented on #28
The mesh and the texture for the ITRI bus model is ready. Now we are creating a collider and a unity package with HDRP materials.
![Screenshot from 2022-05-26 12-41-46](https://user-images.githubusercontent.com/102507264/170473916-98d0a811-5392-4cf8-8746-079cbc073221.png)
![Screenshot from 2022-05-26 12-42-06](https://user-images.githubusercontent.com/102507264/170473944-f230cb8a-3b1d-4351-9261-6f

[2022-05-26 12:15] WJaworskiRobotec commented on #31
Requirements discussion : [link](https://github.com/autowarefoundation/autoware/discussions/2563)
Wiki page with final requirements for any simulator to support Autoware.Universe Bus ODD (still in progress) : [link](https://github.com/autowarefoundation/autoware-projects/wiki/Bus-ODD-Simulation-requirements)

[2022-05-31 13:10] ghost commented on #34
@mitsudome-r @xmfcx Last week we confirmed that perception was the first component that we wanted to get information about, so is the diagram above an accurate representation of the ROS nodes required for perception?

Also, does the diagram show all of the inputs/outputs for each node, or is just an overview?

[2022-05-31 13:25] ghost commented on #25
@mitsudome-r Would it be possible to provide any links related to the interface discussion so that we can track progress of that to better understand when work on this issue can continue?

[2022-05-31 13:25] LalithVipulananthan commented on #25
@mitsudome-r Would it be possible to provide any links related to the interface discussion so that we can track progress of that to better understand when work on this issue can continue?

[2022-06-01 15:25] mitsudome-r commented on #34
Here's the list of packages dependency of perception modules:
![graph](https://user-images.githubusercontent.com/43976834/171442988-be97c0a3-85f8-4fe4-87ab-0fd9c7939f4d.png)

And here is the list of the packages in the graph:
[code]

[2022-06-01 15:26] xmfcx commented on #34
@mitsudome-r could you share the command you used to create this graph too?

[2022-06-01 15:28] xmfcx commented on #34
@mitsudome-r I think these are dependencies of planning stack, not perception.

[2022-06-01 15:37] mitsudome-r commented on #34
@xmfcx Thanks, I posted the wrong image. I've modified the image with the correct one.
The list should be the ones from perception stack.

Here's the command that I used.
* To generate the graph: ` colcon graph --dot --packages-up-to tier4_perception_launch | dot -Tpng -o graph.png`
* To generate the list `colcon list --packages-up-to tier4_perception_launch`

[2022-06-01 16:00] mitsudome-r commented on #34
FYI: I had to modify package.xml in tier4_perception_launch to create correct dependency graph.
https://github.com/autowarefoundation/autoware.universe/pull/1024

[2022-06-03 00:16] kaspermeck-arm commented on #34
@mitsudome-r
Is there some way to see which topics ROS nodes publish and subscribe to?

[2022-06-04 12:53] sglee-morai commented on #29
# Update (22-06-04)

Type1(Normal) r1 is expected to deliver next week

### Overview

![Image](https://user-images.githubusercontent.com/44545624/171999851-58def6fb-7b6d-43e8-bf1d-2ad9dd16fb98.png)
![Image](https://user-images.githubusercontent.com/44545624/171999849-fee1f6a1-3814-4a01-8723-d70d47abaa10.png)
![Image](https://user-images.githubusercontent.com/44545624/171999848-b1735c07-18ae-42d3-b

[2022-06-08 01:31] ghost opened #35 "Create an Open AD Kit documentation site"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Create a documentation site for Open AD Kit

### Purpose

At present, documentation for the Open AD Kit project

[2022-06-08 01:52] kenji-miyake commented on #35
@LalithVipulananthan Should I help with something around these items?

[2022-06-08 02:41] ghost commented on #35
@kenji-miyake Aha! I missed your comment and just asked you about this via Slack. If you could assist with those steps then that would be very much appreciated!

[2022-06-08 03:24] kenji-miyake commented on #35
@mitsudome-r @xmfcx @BonoloAWF Could someone approve to install `awf-autoware-bot` to https://github.com/autowarefoundation/open-ad-kit-docs? :pray: It seems I need approval from an org admin. I guess you've received an email from GitHub.
https://github.com/organizations/autowarefoundation/settings/apps/awf-autoware-bot

-> Mitsudome-san has approved. Thank you!

[2022-06-08 10:27] domrobotec commented on #11
Added draft of ground detection error calculation from point clouds - calculating confusion matrix.
Also, tested localization evaluator with TierIV SIM.

[2022-06-08 10:45] PiotrRzRobotec commented on #28
The ITRI bus model is ready. However we are waiting for detailed information from ITRI company about dimensions and the rear lights. There are differences in dimensions in the documentation, we want to verify if ours are correct. Also, there is no information about the position of the rear lights (turn signal, break, reverse light). ITRI should give the answer this week.
![image-20220530-080153](h

[2022-06-08 11:18] kenji-miyake commented on #35
@LalithVipulananthan I've changed the settings of GitHub Pages. You have to use `gh-pages/root` instead of `main/docs` to show the site built by MkDocs.

![image](https://user-images.githubusercontent.com/31987104/172605553-d4b9ffda-f6ca-4e10-88d3-58b190f62c0f.png)

[2022-06-08 12:09] sglee-morai commented on #21
#  Update 22-06-08
Test code for No.1 to 6 is written (Already some automation features are already implemented)

PR has been delayed since internally we have found things to refactor first, which Soohyeok (MORAI) is doing some refactoring.

[2022-06-08 12:14] sglee-morai commented on #29
Question to, I have one question. After we created an initial version of the ITRI Campus map, we found that some roads have a fairly large lateral inclination.

At first, I thought that's was our fault, but when I saw your video, actual roads seem to have that inclination as well.

Here are two roads that have some serious inclination in the 3d model. And two pictures correspond to where the simul

[2022-06-08 12:23] sglee-morai commented on #29
Way to share map data?

1) Open to everyone, like uploading to
- What about a vehicle model? -> TierIV is thinking of open-sourcing it anyway

2) Google Drive may be an option
First, Google Drive. Then consider other options when a mutual update is required.

An Issue:
https://morai.atlassian.net/wiki/external/1135050998/MDAxMGU3YWRiMjE4NDdkMjljOWIyOGRjZTFmMmQ1NzY

3D Map

[2022-06-08 15:56] mitsudome-r commented on #32
Here's the list of the launch files that you can use:
https://github.com/autowarefoundation/autoware.universe/tree/main/launch

You can launch them with scenario simulator by following commands:
1. Download map+scenario from this link
2. Modify the path in downloaded scenario.yml to the path of downloaded map
3. Launch each modules:
* Vehicle Module:
[code]
*

[2022-06-08 16:03] mitsudome-r commented on #32
Here's the list of the launch files that you can use:
https://github.com/autowarefoundation/autoware.universe/tree/main/launch

You can launch them with scenario simulator by following commands:
1. Download map+scenario from [here](https://drive.google.com/file/d/1vWMLbmwJJE5tYO40ypCMxqtmgQPQxhiw/view?usp=sharing)
2. Modify the path in downloaded scenario.yml to the path of downloaded map
3. Launc

[2022-06-08 16:26] ghost opened #36 "Confirm Autoware can be run using a container that only contains the Perception stack"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Build a Perception-only container and confirm that it is able to work with a container that has all of the othe

[2022-06-08 16:38] ghost opened #37 "Create metrics to assess the performance of a Perception-only container"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

### Purpose

In order to determine if the microservices PoC is feasible or not, we need to create some metrics

[2022-06-09 07:12] mitsudome-r commented on #34
You can just run the launch file and check it with rqt_graph.
e.g.,
`ros2 launch tier4_perception_launch perception.launch.xml mode:=lidar`
`ros2 run rqt_graph rqt_graph`

[2022-06-13 03:13] ghost commented on #34
@kasperornmeck Since the necessary commands have been provided, could you write up this information and submit a PR to the [autoware-documentation](https://github.com/autowarefoundation/autoware-documentation) repository?

The ["How to guides" section](
https://autowarefoundation.github.io/autoware-documentation/main/how-to-guides/) covers more advanced topics and so this would be the best place t

[2022-06-14 02:15] ito-san commented on #32
@kasperornmeck
The Open AD Kit Start Guide was updated to use meta-adlink-ampere v1.4 (on 17 Jan) and meta-ewaol v0.2.4 (on 22 Mar) by this MR(
https://gitlab.com/autowarefoundation/autoware_reference_design/-/merge_requests/11).
Looks like an old version, can I use a master branch? or latest tag?(meta-adlink-ampere v2.1 (on 27 Jan) and meta-ewaol v1.0 (on 25 May)).

[2022-06-16 00:30] ghost commented on #30
Demo proposal 1:
- Autoware runs in two or more containers on an edge device, with a LiDAR or camera sensor attached
  - Each container only contains the modules that are running within it
  - For example,  a two container setup where one container includes only Perception modules, and the other container includes all other modules
- The eSync OTA service runs in its own container
- A problem is d

[2022-06-16 02:12] ito-san commented on #32
Successfully built with the latest master of meta-adlink-ampere and meta-ewaol.
  meta-adlink-ampere: commit hash=2c350d2453d1931a68177a9f8e9d6c44fd1410b9
  meta-ewaol: commit hash=26b2d08f70dcc0e046da8544c968064773c7cc45

And Successfully booted with Xen hypervisor.
[code]

[2022-06-22 04:28] sglee-morai commented on #29
# Update 22-06-22
1) Ready to share. (Unity Package format) Asked Tsutake-san for his email.

2) Need feedback: is elevation important? If so, how much?
- For the current version, the road surface in the simulator is matched to the terrain mesh as a reference.
- Thus, elevation from lanelet2 data differs from the elevation of the road surface

[2022-06-22 08:42] ito-san commented on #32
Wating docker images for arm64 and scenario simulator from CI/CD team.

[2022-06-29 01:44] ghost commented on #34
PR created to add the information in this issue to Autoware documentation:
https://github.com/autowarefoundation/autoware-documentation/pull/162

[2022-06-29 01:44] #34 closed, assigned to nobody

[2022-06-29 12:30] ito-san commented on #32
Still waiting for docker images, requesting 2 images. One is arm64 based image for Autoware and another is x86/64 image for the scenario simulator.

[2022-06-29 15:34] xmfcx commented on #32
@ito-san wrote:

Autoware images are located here: https://github.com/autowarefoundation/autoware/pkgs/container/autoware-universe

Latest autoware arm build is in here: https://github.com/orgs/autowarefoundation/packages/container/autoware-universe/26844652?tag=galactic-latest-prebuilt-cuda-arm64

[2022-06-30 06:59] ghost commented on #32
Hi @Sharrrrk ! Have you been able to make any progress with your task of testing Autoware Universe with the Autocore PCU? Also, could you give me an idea when you will be able to test the Jetson AGX Xavier as well?

[2022-07-01 05:43] YoshinoriTsutake commented on #29
@sglee-morai

Would it be possible to create the 3D model on the basis of HDRP ?
Also, on some objects, " material " is not attached . Could you make sure if it would be fine ?
![image](https://user-images.githubusercontent.com/83760577/176831278-eee6dc19-8897-4878-b9e7-62247bf79763.png)

[2022-07-02 08:02] ito-san commented on #32
Now I'm getting an error regarding lanelet2. Investigating.
![Image](https://user-images.githubusercontent.com/57388357/176992207-ece0522b-1cae-4c2c-bba6-bd3c62bccbf5.png)
![Image](https://user-images.githubusercontent.com/57388357/176992460-aa75fc17-30e0-493a-a7b9-7c78e84b5054.png)

Left: AVA platform, Right: My laptop (verified map files are correct using planning simulator on my laptop)
Seems t

[2022-07-02 08:23] ito-san commented on #32
On my laptop. Having the same error but correctly shown. Seems to be another cause.
![Image](https://user-images.githubusercontent.com/57388357/176992846-64d4593f-a8bc-4322-ab94-0c9c2eb66eb4.png)
![Image](https://user-images.githubusercontent.com/57388357/176992860-3c5d9331-9d9a-4a3b-a1f5-15a6e3479c54.png)

[2022-07-05 04:44] ghost commented on #32
@ito-san Thank you for your updates!

1. Were you able to get an x86/64 image for the Scenario Simulator?
2. If you load that lanelet2 map into Vector Map Builder, does VMB report the same errors/warnings about linestrings needing more than 3 different points?

[2022-07-05 11:35] WJaworskiRobotec commented on #21
PR with the code created here : [link](https://github.com/autowarefoundation/autoware.universe/pull/1107)

[2022-07-05 21:32] kielczykowski-rai commented on #29
@sglee-morai
The map asset is created using `Built-in Render Pipeline`, so when importing the `unitypackage` to `TierIV SIM` the materials attached in the file need to be converted to `HDRP`. As I have experienced the import and materials upgrade processes are very sensitive to Unity Editor load and cached data. Sometimes it requires restarting the Unity Editor, trying opening the map in a complet

[2022-07-06 09:30] ito-san commented on #32
@LalithVipulananthan

I intend to build from source.
[Installation](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/scenario-simulation/planning-simulation/installation/)
And run.
[Scenario test simulation](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/scenario-simulation/planning-simulation/scenario-test-simulation/)

Looks like no problem i

[2022-07-06 09:37] Sharrrrk commented on #32
@LalithVipulananthan I have just tested to launch all the modules on Autocore PCU and AGX Xavier, looks good so far. Next I will try to run all the modules with scenario simulator together.

[2022-07-06 10:43] sglee-morai commented on #29
@YoshinoriTsutake Oh Tsutake-san Sorry that my response is late. I missed the email notification for your comment. It should have a link to the material as shown in the picture below.  (FYI, below is the result I got when I created a fresh-new HDRP template project with Unity 2020.3.6f1 version.)

![image](https://user-images.githubusercontent.com/44545624/177532390-cb2a6a24-affc-4751-b315-81a4a7a

[2022-07-06 10:49] sglee-morai commented on #29
@kielczykowski-rai Hi Michał, thanks for your feedback. Yes, our engineers will update the map for HDRP and then share HDRP version with both you and Tsutake san. For other maps MORAI would provide in the future, we will do the same for smoother exchange.

I already asked Tsutake san for the Unity version and other configurations that may affect sharing the map data, but if you think there is anot

[2022-07-06 10:52] sglee-morai commented on #29
# Update 22-07-06
- MORAI is going to update the map so that it can support HDRP (TierIV SIM's rendering pipeline) without problem
- MORAI is going to add additional details like speed bumps

[2022-07-06 11:15] WJaworskiRobotec opened #38 "Creating a Simulation Environment (Hsinchu City)"

[2022-07-06 12:00] sglee-morai commented on #21
# Update 22-07-06
Want to ask for a review: TierIV to test run the code.
However, I have a question regarding this, though. When a certain person (MORAI in this case) asks other members to run the code in their machine, how he or she can do that?

For me to have Soohyuk's code in my machine, I had to do the followings
- open terminal
- change working directory to ~/autoware/src/universe
- change r

[2022-07-06 12:10] WJaworskiRobotec commented on #11
@djargot Have you added publishing of gt localization on the seperate topic (/tf_ground_truth or sth like that) to a branch in TierIV simulator ?

[2022-07-06 12:11] sglee-morai commented on #28
# 22-07-06 Update from MORAI

Question regarding the bus model parameters
- What values/parameters are currently known? (whether specified by spec. sheet of the manufacturer or shared by ITRI)
- What values/parameters are to be shared by ITRI in the future?

I'm assuming the parameter list below would be identified by ITRI and be shared
- [planning simulator default values](https://github.com/auto

[2022-07-06 12:41] WJaworskiRobotec commented on #29
Unity 2021.1.7f1 is used in TierIV Sim

[2022-07-06 12:46] WJaworskiRobotec commented on #28
3D Model is ready.
To create another issue for vehicle model/ vehicle parameters/physics

[2022-07-06 12:48] WJaworskiRobotec opened #39 "ITRI bus vehicle model"
## Description
Preparation of properly working vehicle parameters model for ITRI Bus

### Purpose
To be able to realistically simulate ITRI bus, both in E2E simulators and planning simulator

### Definition of Done
- [ ] Parameters provided and tested with planning simulator and AWSIM

[2022-07-06 12:55] WJaworskiRobotec commented on #39
[ITRI parameters list](https://github.com/autowarefoundation/autoware.universe/blob/main/simulator/simple_planning_simulator/param/simple_planning_simulator_default.param.yaml)

[2022-07-12 10:10] ito-san commented on #32
Successfully run with planning_simulator on single container using old version of yocto packages
|package|used|latest|
|---|---|---|
|meta-adlink-ampere|v1.4|v2.1|
|meta-ewaol|v0.2.4|v1.0|

Here is what I've done.
On the AVA
[code]
On the host
[code]

https://user-images.githubusercontent.com/57388357/178464934-7853cdee-b404-4f33-a1bd-d387d23f4232.mp4

[2022-07-14 12:30] sglee-morai commented on #29
# Update 22-07-14

@YoshinoriTsutake @WJaworskiRobotec

I should've shared the axis definition & the way to convert the model coordinate system into the global coordinate system.
Below is a somewhat simple guideline. Please let me know if you need further explanation for using the map.

Using codes somewhat similar to the code below, you can able to convert position in the unity into a global coor

[2022-07-18 05:43] sglee-morai commented on #29
@YoshinoriTsutake (cc: @WJaworskiRobotec) Hi Tsutake-san, did you have a chance to integrate the ITRI campus map into TierIV Sim?

[2022-07-19 10:08] WJaworskiRobotec opened #40 "Integration of ITRI campus with ITRI bus and Autoware - AWSIM"
## Description
Preparation of AWSIM simulator using ITRI campus environment, with ITRI bus used as ego vehicle. The simulation should be successfully integrated with Autoware Universe

### Purpose
To prepare a version of AWSIM simualtor for Bus ODD

### Definition of Done
- [ ] Simulator correctly working with Autoware

[2022-07-19 13:33] ghost commented on #32
@kasperornmeck Would you be able to investigate why the Lanelet2 map did not display on AVA using the latest yocto builds, but did work with a previous version? If @ito-san can provide details of his testing and log files, that would be a good starting point, but failing that, do you have time to follow the same steps to see if you can repro the problem or not?

[2022-07-19 14:43] kaspermeck-arm commented on #32
@LalithVipulananthan
Yes, looking through the documentation in this thread, I'd say it's sufficient for me to replicate. I would need is access to the container images (on AVA and on the host) and any data files.

[2022-07-19 15:55] WJaworskiRobotec opened #41 "Integration of ITRI campus with ITRI bus and Autoware - MORAI SIM"
## Description
Preparation of MORAI SIM simulator using ITRI campus environment, with ITRI bus used as ego vehicle. The simulation should be successfully integrated with Autoware Universe

### Purpose
To prepare a version of MORAI SIM simulator for Bus ODD

### Definition of Done
- [ ] Simulator correctly working with Autoware

[2022-07-19 20:26] WJaworskiRobotec commented on #11
Localization and kinematic evaluators are already merged to autoware.universe

[localization and kinematic evaluator video](https://drive.google.com/file/d/1Q45RTPO11Jbul-28vKeDfMFw1gCIl8xl/view?usp=sharing)

[2022-07-20 06:16] sglee-morai commented on #39
# Additional Parameters (for better dynamics)
### Rigid Body
- mass (kg)
- drag coefficient
- position of center of mass

### Tire
- Tire Peak Friction (Max Acceleration / Deceleration)

### Steering Characteristic
- Inertia Bias (which affect whether car would likely to understeer / neutral / oversteer)
- maximum steering wheel angle (deg)
- maximum wheel angle (deg)

![Image](https://user-images

[2022-07-20 06:53] Igata-ctrl commented on #39
@WJaworskiRobotec @sglee-morai Tsutake-san @mitsudome-r
Sorry, but I wasn't able to edit your comment above, so I'm pasting the correct (but in wrong unit) ITRI file here.
[code]
And this is the file which I sent to ITRI when I asked for the information (with unit description).
[code]

[2022-07-20 10:43] WJaworskiRobotec opened #42 "Compatibility tests - adjustements"
### Description
Adjustements of the tests prepared in the first batch (control commands and reports)

### Purpose
To have tests that verify Autoware functionalities in more accurate way

### Definition of Done
- [x] Ignore test checking control mode (Manual mode not required for now)
- [x] Fixed test with Ackermann control - only one case with both velocity and acceleration set to non-zero values

[2022-07-20 10:45] WJaworskiRobotec opened #43 "Compatibility tests - publishing data frequency analysis"
### Description
Preparation of the third batch of tests related to frequency of data being published by the simulators. These tests should not be Pass/Failed, but rather generate a report with desired frequency and statistics of measured frequencies

### Purpose
To evaluate the data publication frequency of the simulators

### Definition of Done
- [ ] PR created
- [ ] Tests verified in AWSIM and M

[2022-07-20 10:46] WJaworskiRobotec opened #44 "Compatibility tests - sensors data publishers"
### Description
Preparation of second batch of tests related to publication of sensor data by the simulator. Important to have a definition of topics, message types in the configuration file to easily change the number of published lidars/cameras

### Purpose
To evaluate the sensor data published by the simulators

### Definition of Done
- [ ] PR created
- [ ] Tests verified in AWSIM and MORAI SIM

[2022-07-20 13:16] sglee-morai commented on #41
# Update July 20th
Here's ITRI ADV moving around within ITRI Campus in MORAI SIM: Drive, following the first route that ITRI has provided. Please note that ITRI ADV is controlled using MORAI Scenario Runner's Ego Cruise Mode, which is 'preview mode' for scenarios for this demo. (the same as 'NPC mode' of the TierIV's scenario simulator)

Youtube Link: [https://www.youtube.com/watch?v=PeLky1c_Uec](

[2022-07-27 07:07] ito-san commented on #32
@kasperornmeck I'm attaching console outputs of the old and new version of yocto packages. The outputs are when I simply launched autoware.

[ok_in_old_version.log](https://github.com/autowarefoundation/autoware-projects/files/9195901/ok_in_old_version.log)
[ng_in_new_version.log](https://github.com/autowarefoundation/autoware-projects/files/9195905/ng_in_new_version.log)

[2022-07-27 19:07] kaspermeck-arm commented on #32
@ito-san, I'm having issues accessing these files, could you send them to my email address instead? kasper.ornsteinmecklenburg[at]arm.com
Thanks!

[2022-07-28 07:14] mitsudome-r commented on #32
FYI, it seems like there was issues with Control module which caused autoware_state to never transition from Planning -> WaitForEngage for past few days. It should be fixed now with https://github.com/autowarefoundation/autoware.universe/pull/1450

[2022-07-28 13:45] kaspermeck-arm commented on #32
@mitsudome-r @ito-san
Does that mean that we can rule out that the change in behavior wasn't due to the EWAOL version?

[2022-07-28 23:31] mitsudome-r commented on #32
@kasperornmeck I'm not sure what's the current failure in EWAOL, but if you are talking about [Lalith's comment](https://github.com/autowarefoundation/autoware-projects/issues/32#issuecomment-1189061103), at least the fix that I mentioned has nothing to do with lanelet2 map.

[2022-07-28 23:33] mitsudome-r commented on #32
@ito-san FYI, the newest docker image is pushed yesterday if you would like to try out the newest version of Autoware. https://github.com/autowarefoundation/autoware/pkgs/container/autoware-universe/30491081?tag=galactic-20220728-prebuilt-cuda-arm64

[2022-08-02 02:29] ito-san commented on #32
@mitsudome-r @LalithVipulananthan
Thank you for your kind support.
Made a little bit changes from OpenADKit 1.0. Confirmed that Autoware.universe runs as multiple k3 clusters and scenario_simulator_v2 works.
![Image](https://user-images.githubusercontent.com/57388357/182278579-c00c8f43-6f19-41fa-a164-667b1f7a600b.png)

https://user-images.githubusercontent.com/57388357/182279632-dbd0b2de-0792-4139

[2022-08-02 09:13] WJaworskiRobotec commented on #27
First tutorial about running autoware.universe with AWSIM already merged to autoware-documentation  :  [link](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/digital-twin-simulation/awsim-tutorial/)

[2022-08-02 09:14] WJaworskiRobotec opened #45 "Design of experiments for BusODD High Fidelity Simulation"
### Description
To prepare initial set of scenarios to be tested in the Figh Fidelity Simulators (AWSIM, MORAI SIM, CARLA etc.)

### Purpose
To validate autoware.universe in more realistic enviornement.

### Definition of Done
- [ ] list of scenarios created and shared with ODD WG

[2022-08-02 12:24] WJaworskiRobotec commented on #40
First integration of AWSIM with Autoware.universe in the ITRI campus environment : [link](https://drive.google.com/file/d/1tXTRF0II3q2s5MAszn-_rdLXOAj5i53m/view?usp=sharing)

[2022-08-02 12:46] WJaworskiRobotec commented on #42
Compatibility tests after adjustements tested with AWSIM- works fine.
PR merged : [link](https://github.com/autowarefoundation/autoware.universe/pull/1439)

[2022-08-02 20:51] kaspermeck-arm commented on #32
@ito-san
This is really neat, well done! :)
Is there documentation for me to replicate this? I can do the OoB testing and give feedback on the documentation.

[2022-08-02 23:33] HuaweiAlgolux commented on #27
Is TierIV sim also Unity-based just like LGSVL?

[2022-08-03 03:17] Sharrrrk commented on #32
My test report on PCU is here:
[Test report - Run Autoware.universe on PCU.pdf](https://github.com/autowarefoundation/autoware-projects/files/9247680/Test.report.-.Run.Autoware.universe.on.PCU.pdf)

Test based on latest docker images:
- autoware-universe:galactic-latest-prebuilt-arm64
- scenario_simulator_v2:galactic

[2022-08-03 03:19] Sharrrrk commented on #32
@LalithVipulananthan I've got a Jetson AGX Orin lately, I could do the test on it if requried.

[2022-08-03 07:32] sglee-morai commented on #41
# Update Aug. 3rd
- A sample PCD map from MORAI SIM: Drive is created
- Matching PCD map from MORAI SIM: Drive & real-world ITRI map is required to run Autoware (Work in Progress)
- Running the Velodyne lidar driver in the Autoware.Universe or Ouster lidar driver separately is required (Work in Progress)
  - Requirement for the driver: publish pcd data in **sensor_msgs/PointCloud2**: [Link](https:

[2022-08-03 07:39] sglee-morai commented on #27
Update from MORAI - @sglee-morai  will start working on this.

[2022-08-03 07:45] YoshinoriTsutake commented on #45
In my opinion, at first it would be better to know something like
- where Autoware is supposed to run in the map .
- how the map / route is
  - how many lanes
  - how long
  - how large
  - what road objects ( traffic lights, pedestrian crossing )

And it could be a test item to make Autoware move on the routes without NPCs  in a simulator to make sure mainly whether localization would work well o

[2022-08-03 11:15] SoohyeokPark-MORAI commented on #44
I am planning to start this Friday.
I made a sample configuration file that includes sensor-related publishers and publishers and subscribers just in case.
[sample configuration file link](https://drive.google.com/file/d/1S4MESOJZuggkX5VmEUQl4Kt7ytw9xPyf/view?usp=sharing)

[2022-08-03 11:56] WJaworskiRobotec commented on #27
[link](https://autowarefoundation.github.io/autoware-documentation/main/tutorials/ad-hoc-simulation/digital-twin-simulation/awsim-tutorial/) to the AWSIM instruction

[2022-08-03 11:56] WJaworskiRobotec commented on #27
@HuaweiAlgolux yes, exactly. MORAI SIM as well.

[2022-08-03 12:11] WJaworskiRobotec commented on #39
@sglee-morai We have a question about the parameters mentioned above : If all parameters are available to use in MORAI SIM ?

[2022-08-03 13:01] WJaworskiRobotec commented on #45
[ODD WG scenarios](https://docs.google.com/presentation/d/1qiQMAT9Khnae4xWL36NUoMlNLZxSLn-HcMlEfg1BsBY/edit#slide=id.gd38c585fc3_0_0)

[2022-08-03 13:29] ghost commented on #32
@Sharrrrk Hi Shark, if you can spare the time to test on the AGX Orin as well then that would be very much appreciated! If you can also test on an AGX Xavier afterwards, then that would be awesome.

[2022-08-03 16:04] mitsudome-r commented on #25
@LalithVipulananthan
Here are the minutes from the Architecture WG discussions: https://github.com/autowarefoundation/autoware/discussions?discussions_q=label%3Aarchitecture_wg

At least we can start with minimal raw sensor data, and other primary data. This includes the following topics:
| Source  | topic name | message type |
| ---          |  ---              |   ---                  |
| Lidar

[2022-08-03 16:53] HuaweiAlgolux commented on #27
Wow. Thanks for letting me know. So both MORAI SIM and TierIV Sim are based on the Unity game engine. Great.

[2022-08-04 11:01] WJaworskiRobotec commented on #45
Components to be tested :

**1. Localization**
- Launched only localization stack of Autoware: [localization launch](https://github.com/autowarefoundation/autoware.universe/tree/main/launch/tier4_localization_launch)
- Ground truth published by the simulator
- Vehicle controlled manually (or with some simple path following script) on the predefined paths
- Localization accuracy calculated using [l

[2022-08-08 15:31] sglee-morai commented on #45
I'd like to discuss the format first.
  - How to describe test cases.
  - But more specifically, how to describe a scenario.

However, to prevent the discussion from going too much complicated, I didn't write something that's rather obvious. e.g. ego vehicle model = ITRI bus model in each simulator.

# Elements to Define a Test Case
**1) Ego vehicle specification**
- What sensors are attached to t

[2022-08-08 15:32] sglee-morai commented on #45
# Elements to Define a Test Scenario

### 1) Ego vehicle routes

### 2) NPC vehicles & pedestrians
- Random NPCs
  - Average No. of NPCs around the ego vehicle
  - NPC behavior options
- Event-driven NPCs
   - Each NPC's route, behavior, etc.

### 3) Static Obstacles
- Which static objects are placed & where each one is placed (transform)

### 4) Time & Weather
- Time
- Weather Conditions

[2022-08-08 15:33] sglee-morai commented on #45
I'd like to give an example set of test scenarios for localization node testing, which @WJaworskiRobotec mentioned in the first part of his comment.

Please let me know whether this format is good enough or not, and of course, let's talk about the contents of the scenario as well.

# Test Scenario Example for Localization Node Testing

### 1) Ego vehicle routes
(2 options in total)
1.1) ITRI Route

[2022-08-12 10:23] Sharrrrk commented on #32
Test report on Orin:
[Test report - Run AW.universe with OpenADKit v1.0 on Orin.pdf](https://github.com/autowarefoundation/autoware-projects/files/9420690/Test.report.-.Run.AW.universe.with.OpenADKit.v1.0.on.Orin.pdf)

Test report on Xavier:
[Test report - Run AW.universe with OpenADKit v1.0 on Xavier .pdf](https://github.com/autowarefoundation/autoware-projects/files/9420693/Test.report.-.Run.AW.

[2022-08-12 10:24] Sharrrrk commented on #32
@LalithVipulananthan  All the tests assigned to me are finised.

[2022-08-14 13:18] ito-san commented on #32
@LalithVipulananthan @kasperornmeck
The pdf version of eSync OTA Update is available now.
[eSync OTA Update.pdf](https://drive.google.com/file/d/1hOvJChQthK3h-FWhEACmKdxoFV8dcD36/view?usp=sharing) (accessible only to the members who can access `AWF - Open AD Kit` Google Drive)

[2022-08-17 04:28] sglee-morai commented on #39
@WJaworskiRobotec Sorry to post the answer to your question too late. Yes, MORAI can use all the parameters listed above to tune vehicles.

For example, values like `vel_rate_lim, acc_time_delay, acc_time_constant` values are used to tune parameters such as `vehicle mass, engine inertia, torque map(engine speed vs. engine torque), gear ratio` in MORAI SIM: Drive.

---

Just to give you a broader p

[2022-08-17 05:02] SoohyeokPark-MORAI commented on #44
camera, gps (gnss pose, pose with covariance), imu are under tests with MORAI SIM.

[2022-08-17 05:04] sglee-morai commented on #41
# Update Aug. 17th

Working on this Issue, which is a blocker: [https://github.com/autowarefoundation/autoware.universe/issues/1496](https://github.com/autowarefoundation/autoware.universe/issues/1496)

[2022-08-17 09:21] ito-san commented on #32
@kasperornmeck Confirmed that Autoware.universe runs on EWAOL 1.0 baremetal image.

https://user-images.githubusercontent.com/57388357/185083253-27234791-6f5e-47ce-baf8-454e0ca10140.mp4

[2022-08-17 09:47] ito-san commented on #32
@kasperornmeck Also confirmed arm64 version of `scenario_simulator_v2` works on AVA platform.

https://user-images.githubusercontent.com/57388357/185088263-c9dddcf6-b82d-45c6-ac6b-9437f50b7c72.mp4

[2022-08-17 12:52] domrobotec commented on #11
I created initial version of segmentation metrics (https://github.com/autowarefoundation/autoware.universe/pull/1600) to calculate precision, recall, accuracy, and confusion matrix. Values are calculated both for a single point cloud as well as across whole scenario/ROS bag.

I tested metrics using labeled point cloud provided by MORAI (related issue: https://github.com/autowarefoundation/autoware

[2022-08-17 15:16] kaspermeck-arm commented on #32
@ito-san very nice! :)

Does that mean that we can conclude that it is Xen (virtualization) which prevented Autoware.Universe from working properly on EWAOL v1.0?

[2022-08-18 00:05] ito-san commented on #32
@kasperornmeck Yes, maybe.

[2022-08-18 10:54] NilaySener commented on #32
@Sharrrrk Hi,  I was trying to run autoware modules with OpenAD kit, referring to the Orin test report you shared.The .pdf file you provided has incomplete commands due to the format of the file.

e.g
![unknown](https://user-images.githubusercontent.com/106528015/185378310-6748fc51-f24e-4f4a-af22-951b776f8954.png)

 Can you share Orin's test report in a file format where I can access all the comma

[2022-08-25 01:49] Sharrrrk commented on #32
@NilaySener you are right, I updated the report here:
[Test report - Run AW.universe with OpenADKit v1.0 on Orin.pdf](https://github.com/autowarefoundation/autoware-projects/files/9420690/Test.report.-.Run.AW.universe.with.OpenADKit.v1.0.on.Orin.pdf)
Please feel free to ask if you have any other concerns.

[2022-08-26 15:33] NilaySener commented on #32
@Sharrrrk Thank you for the report you shared. I followed the steps on Orin and got the same results.

[2022-09-06 08:47] Sharrrrk commented on #32
All tasks finished.

[2022-09-06 08:47] #32 closed, assigned to ito-san, Sharrrrk

[2022-09-07 08:36] WJaworskiRobotec commented on #44
@SoohyeokPark-MORAI Is the PR for these tests ready ?

[2022-09-08 00:54] SoohyeokPark-MORAI commented on #44
@WJaworskiRobotec Here I share the link [PR link](https://github.com/autowarefoundation/autoware.universe/pull/1804)

[2022-09-12 12:42] WJaworskiRobotec commented on #44
@SoohyeokPark-MORAI thanks a lot, Have you tested it with AWSIM ?

[2022-09-12 22:49] SoohyeokPark-MORAI commented on #44
@WJaworskiRobotec I tried it with AWSIM but found an issue related to LIDAR whose data is not received.

[2022-09-13 13:11] ghost commented on #8
@kasperornmeck My understanding is that Ito-san was able to confirm that Autoware Universe can be run in multiple (monolithic) containers orchestrated by K3s, so for CI/CD what's the next step?

[2022-09-13 13:12] ghost commented on #35
Closing as complete since the documentation repository was created and there is a public-facing website which has the documentation for Open AD Kit 1.0.

Repository: https://github.com/autowarefoundation/open-ad-kit-docs
Website: https://autowarefoundation.github.io/open-ad-kit-docs/latest/

[2022-09-13 13:12] #35 closed, assigned to nobody

[2022-09-13 13:26] ghost opened #46 "Update documentation site to add OADK 2.0 installation instructions"
## Description

Now that the OADK [documentation repository](https://github.com/autowarefoundation/open-ad-kit-docs) and [website](https://autowarefoundation.github.io/open-ad-kit-docs/latest/) have been set up to explain setup and installation for the AVA Dev Platform and AutoCore PCU with Autoware.Auto, we need to add installation and setup instructions for OADK 2.0 with Autoware Universe runnin

[2022-09-13 13:30] ghost commented on #46
@Sharrrrk Hi Shark, would it be possible to re-export your AutoCore PCU and AGX Xavier test reports for Autoware Universe please, such that all of the command line output can be seen. Like before with the AGX Orin test report, there are a lot of commands that have been cut off in the exported PDF.

PCU test report: https://github.com/autowarefoundation/autoware-projects/issues/32#issuecomment-1203

[2022-09-13 20:02] kaspermeck-arm commented on #8
@LalithVipulananthan
When this issue was created, the idea wasn't to run a single container multiple times. We now know that this is a more difficult task than expected. I don't know if the TSC has made a decision how to proceed, i.e., if we wish to use Bloom to release ROS packages, see https://docs.google.com/presentation/d/1ICa6bl1q38jR9peueNOL0ycyT16U9M4RKD-pM-pLbGU/edit?usp=sharing.

[2022-09-14 05:53] WJaworskiRobotec commented on #44
OK I will check it with AWSIM with modified QoS

[2022-09-14 13:26] ghost commented on #46
After [this PR](https://github.com/autowarefoundation/open-ad-kit-docs/pull/27) is merged, it will be done.

[2022-09-15 00:54] ghost commented on #8
Setting to "Blocked" until there's a decision from the TSC regarding the Autoware release proposal mentioned in Kasper's comment above.

[2022-09-21 13:51] WJaworskiRobotec commented on #44
I have managed to make it work with AWSIM with some changes that I will push to the repo.

![Image](https://user-images.githubusercontent.com/85557834/191522088-7a3d3804-486e-4273-9f6d-a0048142031c.png)

*4 failed tests for lidars are related to left and right sensors not included in the binary that I've tested

[2022-09-26 01:14] evshary commented on #46
I've tried to sync the OADK 2.0 documentation site with branch proposal_v2.0 in [this PR](https://github.com/autowarefoundation/open-ad-kit-docs/pull/31).
Updating the tutorial to the latest version on the documentation site will help developers to find the tutorial much easier.
It'll be great if someone can help me to review the PR.

[2022-09-28 11:35] WJaworskiRobotec commented on #40
Video showing integration of AWSIM with Autoware.universe in the ITRI campus and ITRI bus as Ego vehicle : [link](https://drive.google.com/file/d/1ZPP9R6zsvniRPuQVKEzIN8syMhAxTcJu/view?usp=sharing). Currently sample sensor kit is used as sensor configuration

[2022-09-28 17:41] WJaworskiRobotec opened #47 "Creating a Simulation Environment (ISUZU project)"
### Description

Creating Simulation Environment of ISUZU test track

Available data for baseline (provided by LeoDrive)
- Lanelet2 map
- PCD

### Expected Output

The map will be implemented in two different types:
(map type 1) The environments around the road are typical 3d models (buildings, terrains, ...)
(map type 2)- The environments around the road are 3d model converted from the point clou

[2022-09-28 17:42] WJaworskiRobotec opened #48 "Creating a ISUZU bus model"
### Description

To create a 3D model of ISUZU bus

### Expected Output

3D model to be used by E2E simulators (.unitypackage or sth similar)

[2022-09-28 17:44] WJaworskiRobotec opened #49 "Integration of ISUZU simulation with Autoware - AWSIM"
## Description
Preparation of AWSIM simulator using ISUZU test track and ISUZU bus The simulation should be successfully integrated with Autoware Universe

### Purpose
To prepare a version of AWSIM simualtor for Bus ODD

### Definition of Done
- [ ] Simulator correctly working with Autoware

[2022-09-29 20:11] WJaworskiRobotec commented on #45
As decided during the Simulation WG for now for E2E testing we will use slightly extended scenarios prepared by Sugwan. We will add several configurations of each traffic level.

Next year, the AWSIM will support OpenSCENARIO format and then we will execute the ODD WG scenarios as well.

Exact definition of scenarios for ITRI and ISUZU demonstrations of Bus ODD will be described in the seperate is

[2022-09-30 11:30] MertClk commented on #48
We have a blend file for the bus. You can find it [here](https://drive.google.com/file/d/1LCyJux9zM4V7xSMID5ETAzDsxjJ8T7_e/view?usp=sharing)

[2022-09-30 11:37] MertClk commented on #47
Point cloud map and Lanelet2 map of our test campus can be found below.

PCD:  [Map link](https://drive.google.com/file/d/1O14cNaT3WlPM4qbLADotCteKqRk236Pi/view?usp=sharing)
HAD: [Map link](https://drive.google.com/file/d/1anarT0IW_8Ou2BdRHjtc--dmr-vWUCAP/view?usp=sharing)

[2022-10-11 11:41] WJaworskiRobotec commented on #45
**Components of AD stack to evaluate :**

- Perception (object detection)
- Localization
- Planning
- Control

To properly assess the quality of AD stack components, the predefined E2E scenarios needs to cover variety of road situations

**Road Situations:**

- Following another vehicle
- Passing parked vehicles
- Meeting the vehicle driving in the other directions
- Intersection scenarios

![Imag

[2022-10-11 13:23] Hyeongseok-Jeon commented on #47
MORAI are internally processing the 3D map construction.
But constructing full 3D map will take a long time.

We need to discuss on this issue.

![Image](https://user-images.githubusercontent.com/66467102/195101823-75f474fa-e191-476c-bf53-2596b2903e10.png)

[2022-10-12 10:51] WJaworskiRobotec commented on #48
Vehicle files, including vehicle launch and sensor_kit launch : [link](https://drive.google.com/drive/folders/1bkxamrkKsbP3J5339GVf5yKhJL0iii4l)

[2022-10-12 17:16] WJaworskiRobotec commented on #48
I have integrated ISUZU bus with AWSIM, together with sensors as descirbed in the documentation. Currently working on running it with Autoware

![Image](https://user-images.githubusercontent.com/85557834/195406654-4ff622be-5f8b-4fbf-b2c3-2549c9fb1cf7.png)

[2022-10-13 00:31] mitsudome-r opened #50 "Porting F1Tenth Launch to from Autoware.Auto to Autoware.Universe"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

This issue is used to track porting efforts to support F1Tenth in Autoware.Universe.

Final goal is to have Aut

[2022-10-25 13:04] Hyeongseok-Jeon commented on #48
MORAI is ready for the ISUZU bus model but I need to check later since i am currently on the business trip.

[2022-10-25 13:11] Hyeongseok-Jeon commented on #47
Update from MORAI
- we decided that the road mesh model shown in above will be shared with others
- we will employ satelite image near the road but we need to internally double check if there is no copyright issue or not
- based on the satelite image, representative building will be modeled with simplified shape

[2022-10-25 13:30] Hyeongseok-Jeon commented on #44
MORAI update
- I started to look the compatibility test code from @SoohyeokPark-MORAI
- I could not specify the sensor configuration file yet

[2022-10-25 13:41] WJaworskiRobotec commented on #47
@Hyeongseok-Jeon when we can expect the model with simplified buildings ?

[2022-10-25 14:34] WJaworskiRobotec commented on #40
I've managed to make the bus driving using cbus_vehicle_launch and itri_bus_sensor_kit with only one LIDAR. with 3 the non-existing obstacle is detected - looks like something is wrong with calibration of left and right sensor

![Image](https://user-images.githubusercontent.com/85557834/197802563-59d0cff5-da4a-43f3-844b-3ef1ccb42f29.png)

[2022-10-25 16:59] WJaworskiRobotec commented on #40
Ok I have an AWSIM binary working with 3 OS1-64 lidars and using target vehicle model and sensor_kit

![Image](https://user-images.githubusercontent.com/85557834/197836483-d553392f-6197-4254-8915-1d2233d71c2d.png)

[2022-10-31 09:38] evshary commented on #46
I've verified the OADK 2.0 tutorial on the documentation site, and I'm able to install & run scenario simulator successfully.

[2022-11-02 03:06] Hyeongseok-Jeon commented on #47
Several issues in creating 3D env for ISUZU project

1. width of the road is too tight
- issue on the bidirectional road
![Image](https://user-images.githubusercontent.com/66467102/199384447-02e1b759-1337-4311-91ab-9e3eff4c9415.png)

- issue on the intersection -> when using our internal NPC algorithm, vehicle cannot trun left within the road mesh
![Image](https://user-images.githubusercontent.com

[2022-11-02 03:55] Hyeongseok-Jeon commented on #48
We created the ISUZU bus model in MORAI SIM and dynamic setting is on going which will be completed soon.

![Image](https://user-images.githubusercontent.com/66467102/199391781-ce3af372-42ec-4d70-b990-783d2a3ab2f5.png)
![Image](https://user-images.githubusercontent.com/66467102/199391789-efa6d4e0-f4e1-480a-9d31-7b5a9cd1810f.png)

[2022-11-03 14:34] WJaworskiRobotec commented on #48
@Hyeongseok-Jeon
The model looks really great ! Could you share the .unitypackage with the vehicle ?

[2022-11-04 09:14] mehmetdogru commented on #47
@Hyeongseok-Jeon

Thank you so much for working on this and sorry for the late reply.

![gtu_campus_overlapping_bidirectional_road](https://user-images.githubusercontent.com/48479081/199936333-4737bdea-c55c-4c7c-ae72-ea5d149b8df1.png)

If that is the road shown above, we had to annotate that road overlapping with each other it is simply because that road needs to be bidirectional for routing purpo

[2022-11-05 16:00] Hyeongseok-Jeon commented on #47
@mehmetdogru

we will make 3d environment as is. In terms of the intersection passing issue, we will manage our NPC algorithm internally.

Currently, we found that this issue is only for the specific place (node id : 175). If you found another nodes with data defection, we will let you know.

Can you specify the exact 3 dimensional position and shape of the traffic light? Can we use the traffic li

[2022-11-06 10:04] mehmetdogru commented on #47
@mozhoku Could you also look at this issue if we have it on more places?

@Hyeongseok-Jeon
Yes you can use this model.

As far as I know the position of traffic light (position of bulbs) as it is specified in lanelet2 map with `light_bulbs` tag. @mozhoku can you verify this information?

`<tag k='type' v='light_bulbs' />`

[2022-11-07 10:47] WJaworskiRobotec commented on #40
After running tests on the ITRI simulation environment, 2 issues were found :

- https://github.com/autowarefoundation/autoware.universe/issues/2182
- https://github.com/autowarefoundation/autoware.universe/issues/2213

[2022-11-08 07:14] Hyeongseok-Jeon commented on #47
We attached satellite image on the road mesh but 3d modeling for the building is on-going and the building to be modeled by MORAI should be discussed.

![Image](https://user-images.githubusercontent.com/66467102/200498505-a2c3c78b-53ef-44fc-9bb6-4f1aa33de868.png)

[2022-11-09 05:59] WJaworskiRobotec commented on #27
https://github.com/autowarefoundation/autoware-documentation/pull/232

[2022-11-09 06:36] WJaworskiRobotec commented on #47
@mehmetdogru Please provide the information about the buildings. Video, estimation of height, priority of the modeling. Please provide test routes as well

[2022-11-09 07:56] mehmetdogru commented on #47
@WJaworskiRobotec @Hyeongseok-Jeon

Tomorrow @senagolcuk and some other of my colleagues will be on the campus. They will provide you with some video recordings related to the buildings around.

@xmfcx will provide you with the list of buildings which should be modeled first and a dense pcd map to get the height of the buildings properly.

And we will share the test route asap.

[2022-11-09 14:25] senagolcuk commented on #47
@WJaworskiRobotec @Hyeongseok-Jeon @mehmetdogru

I am sharing the test route below. I will share the videos of the campus as soon as possible.

![route](https://user-images.githubusercontent.com/100692728/200855725-dbbded76-31d4-466b-ad1b-8a440a5df973.png)

[2022-11-09 16:04] xmfcx commented on #47
Isuzu environment dense point cloud map LAS file (3.7 GB): https://drive.google.com/file/d/14Fn9gBC7UrSyr7aytPKL7NqHZeWTD3_Z/view?usp=share_link

We'll share the list of buildings and a video recording of the route too. @WJaworskiRobotec

You can view/edit it using [CloudCompare](https://www.danielgm.net/cc/).

[2022-11-09 17:28] mozhoku commented on #47
There are no other issues as big as that one in node heights. Sorry, I must have overlooked that one. 🙏 I've updated the map and can share with @Hyeongseok-Jeon again if it's necessary. _(Our project manager is on vacation so I don't know if I can share the map publicly. I can send it from Discord if needed.)_

Yes, you can use the light bulb positions in HDmap. It should be fine. 👍

[2022-11-09 19:32] WJaworskiRobotec commented on #47
@xmfcx @senagolcuk @mehmetdogru Thanks a lot for really quick delivery of missing pieces !

[2022-11-14 04:04] Hyeongseok-Jeon commented on #48
@WJaworskiRobotec

.unitypackage file for ISUZU bus model is uploaded. Be aware that the copyright (including the MORAI logo) MUST NOT be removed in further usage.

[2022-11-15 08:55] xmfcx commented on #47
@WJaworskiRobotec here is a recording of the environment and the map:

[![Campus Recording](https://img.youtube.com/vi/6yiCXu4PqKk/maxresdefault.jpg)](https://www.youtube.com/watch?v=6yiCXu4PqKk)

The video is a bit choppy due to screen recording and visualizing the cameras without optimization. But it should give an idea about how campus looks in general.

[2022-11-15 10:28] xmfcx commented on #47
@WJaworskiRobotec I've also marked the prominent buildings on the map (not particularly sorted by importance)

[Google Earth Link](https://earth.google.com/web/@40.80859577,29.36148672,9.06036614a,2934.92322443d,30.00059455y,0h,0t,0r/data=MigKJgokCiAxQ0dzcF9ESDhVbmhTU1BQcU9xZVVfbEFpVFNMeGpGQSAC)

[Google Maps Link](https://www.google.com/maps/d/u/0/edit?mid=1CGsp_DH8UnhSSPPqOqeU_lAiTSLxjFA&usp=sha

[2022-11-23 12:20] WJaworskiRobotec commented on #40
Videos presenting the progress with planning module improvements based on AWSIM can be found here : [link](https://drive.google.com/drive/u/1/folders/1lkJyVRQPTehjQR35RRBoeIaOwbNmnsng)

[2022-11-23 12:21] WJaworskiRobotec commented on #47
@Hyeongseok-Jeon what is the progress of this task ?

[2022-11-23 12:22] WJaworskiRobotec commented on #27
The MORAI instruction has been merged

[2022-11-23 12:23] WJaworskiRobotec commented on #44
@Hyeongseok-Jeon any progress in this task ?

[2022-11-23 12:26] Hyeongseok-Jeon commented on #47
@WJaworskiRobotec

Currently we calculated the height of the aforementioned buildings based on LAS file and creation process is on going

[2022-11-23 12:29] Hyeongseok-Jeon commented on #44
@WJaworskiRobotec There is no prograss on this task in terms of importing the sensor configuration file in compatibility test code. Sorry for delaying and we will work on this issue from next week (after finishing regular version update of our product)

[2022-11-23 13:12] WJaworskiRobotec commented on #48
It will be tested/reviewed by TierIV

[2022-11-23 13:17] WJaworskiRobotec commented on #47
Lets test in the ss2 with LL2 and vehicle model.

[2022-11-23 13:31] WJaworskiRobotec commented on #41
This issue will be continued in next year.

[2022-11-25 02:39] Hyeongseok-Jeon commented on #47
We finished creating 3D env for ISUZU project with simplified buildings. It will be uploaded to drive shortly.

![Image](https://user-images.githubusercontent.com/66467102/203889352-ba6e13c5-4df9-4ded-8c91-4ae68f8a1fad.png)
![Image](https://user-images.githubusercontent.com/66467102/203889353-b282dba7-bd31-45d4-be73-03ef8cbc1318.png)
![Image](https://user-images.githubusercontent.com/66467102/2038